
/* Custom default color */
.bg-primary {
  background-color: #413659 !important;
  color: #fff;
  border: none;
}

.bg-secondary {
  background-color: #656F8C !important;
  color: #fff;
  border: none;
}

.bg-success {
  background-color: #9BBFAB !important;
  color: #000;
  border: none;
}

.btn-secondary {
  background: #656F8C;
  color: #fff;
  border: none;
}

.btn-secondary:hover, .btn-secondary:focus, 
.btn-secondary:active, .btn-secondary:active:focus, .btn-secondary:active:hover, .btn-secondary:active.focus,
.btn-secondary.active, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary, 
.open > .dropdown-toggle.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary:focus, 
.open > .dropdown-toggle.btn-secondary.focus,
.btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus, .btn-secondary[disabled].focus, fieldset[disabled] .btn-secondary.focus {
  background: rgb(73, 84, 119); 
  color: #fff; 
  border: none;
}

.card,
.card-body,
.card-header {
  border : none;
}

html,
body {
  padding-top: 2.5rem;
  /*background: url(../img/city.jpg);*/
  background-color: #9BBFAB;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#task_content {
  display: inline-block;
}